<form class="forms-sample" [formGroup]="visaaddform" (ngSubmit)="addvisa()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="has_error">
    {{error_message}}
  </div>
  <div class="form-group ">
    <label>Type Visa:</label>
    <select class="form-control"  name="typevisa" formControlName="typevisa"
            ><option value="TOURISTIQUE">TOURISTIQUE</option>
      <option value="ETUDE">ETUDE</option>
      <option value="MALADIE">MALADIE</option>
      <option value="MISSION">MISSION</option>
    </select>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit">Enregistrer</button>
  <button class="btn btn-light" routerLink="/espaceemployee/visa">Annuler</button>
</form>
