<div class="container-fluid px-4">
  <div class="card mb-4">
    <div class="card-body">
        <a class="btn btn-outline-primary" routerLink="/espaceemployee/addvisa" >Ajouter visa</a>
      </div>
    <table class="table" *ngIf="visas.length>0">
      <thead>
      <tr class="table-success">
        <th>NOM</th>
        <th>PRENOM</th>
        <th>POST</th>
        <th>MATRICULE</th>
        <th>DATE DEPOT</th>
        <th>STATUS</th>
        <th>TYPE VISA</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visa of visas">
        <td>{{visa.nom}}</td>
        <td>{{visa.prenom}}</td>
        <td>{{visa.post}}</td>
        <td>{{visa.jobid}}</td>
        <td>{{visa.datedepot}}</td>
        <td>{{visa.status}}</td>
        <td>{{visa.typevisa}}</td>

      </tr>
      </tbody>

    </table>
    <span *ngIf="visas.length==0">le table est vide</span>
  </div>
</div>
