<form class="forms-sample" [formGroup]="entretientaddform" (ngSubmit)="ajouterentretient()">
  <div class="form-group">
    <label >date entretient:</label>
    <input type="date" class="form-control" id="date" placeholder="date entretient"
           name="date" formControlName="date">
  </div>
  <div class="form-group">
    <label >heure entretient:</label>
    <input type="time" class="form-control" id="heure" placeholder="heure entretient"
           name="heure" formControlName="heure" step="2">
  </div>
 <!-- <div class="form-group>">
    <select class="form-control" formControlName="condidats_id" >
      <option value="">CHoisir le candidat  convenable</option>
      <option value="{{c.id}}" *ngFor="let c of candidats ">
        prenom:{{c.prenom}}
        nom:{{c.nom}}
        carte identité:{{c.cin}}
      </option>
    </select>

  </div>-->
  <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
  <button class="btn btn-light" routerLink="/rh/entretient">Cancel</button>
</form>

