<form class="forms-sample" [formGroup]="entretientaddform" (ngSubmit)="ajouterentretient()">
  <div class="form-group">
    <label >Date Entretient:</label>
    <input type="date" class="form-control" id="date" placeholder="date entretient"
           name="date" formControlName="date">
  </div>
  <div class="form-group">
    <label >Heure Entretient:</label>
    <input type="time" class="form-control" id="heure" placeholder="heure entretient"
           name="heure" formControlName="heure" step="2">
  </div>

  <button type="submit" class="btn btn-gradient-primary mr-2">Enregistrer</button>
  <button class="btn btn-light" routerLink="/rh/entretient">Annuler</button>
</form>

