<div class="d-flex align-items-center auth px-0">
  <div class="row w-100 mx-0">
    <div class="col-lg-4 mx-auto">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="brand-logo">
          <img src="assets/images/logo.svg" alt="logo">
        </div>
        <h4 style="color: #1bcfb4">bien venue dans  HRMPLUS</h4>

        <form [formGroup]="signinForm"  (ngSubmit)="onLogin()" class="pt-3">
          <div class="form-group">
            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username"
            name="email" formControlName="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
                   placeholder="Password"
                   name="password" formControlName="password">
          </div>
          <div class="mt-3">
            <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                    type="submit" >SIGN IN</button>
          </div>


          <div class="text-center mt-4 font-weight-light">
            <a routerLink="/auth/register" class="text-primary">crier compte pour candidat</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
