<div class="container-fluid px-4">
  <h1 class="mt-4">Liste Des Notes De Fraie</h1>
  <div >
    <form class="form-inline" [formGroup]="searchnotedefraieform" (ngSubmit)="searchnotedefraie()" >
      <div class="input-group">
        <div class="form-outline">
          <input type="text" id="cle" class="form-control"  name="cle"
                 placeholder="search"
                 formControlName="cle" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary " style="margin-left:0
       ;height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card mb-4">
    <div class="table-responsive">
      <table class="table table-hover" *ngIf="notedefraies.length>0">
        <thead>
        <tr>
          <th>Nom </th>
          <th>Prenom </th>
          <th>Matricule</th>
          <th>Description</th>
          <th>Datecreation</th>
          <th>Fraie</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of notedefraies">
          <td>{{i.nom}}</td>
          <td>{{i.prenom}}</td>
          <td>{{i.jobid}}</td>
          <td>{{i.description}}</td>
          <td>{{i.datecreation}}</td>
          <td>{{i.fraie}}</td>
          <td>
            <a class="btn btn-sm btn-danger"  (click)="deletenotedefraie(i.id)" title="Supprimer" >
              <i class="mdi mdi-delete"></i></a>
          </td>

        </tr>

        </tbody>
      </table>
      <span *ngIf="notedefraies.length==0">table vide</span>
    </div>



  </div>
</div>
