<div class="container-fluid px-4">

  <div>
    <form class="form-inline" [formGroup]="searchvisaform" (ngSubmit)="searchvisas()" >
      <div class="input-group">
        <div class="form-outline">
          <input type="text" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary " style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="card mb-4">
    <div class="table-responsive">
      <table  class="table table-bordered" *ngIf="visas.length>0">
        <thead>
        <tr>
          <th scope="row">NOM</th>
          <th>PRENOM</th>
          <th>POST</th>
          <th>MATRICULE</th>
          <th>DATE DEPOT</th>
          <th>STATUS</th>
          <th>TYPE VISA</th>
          <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let visa of visas">
          <td>{{visa.nom}}</td>
          <td>{{visa.prenom}}</td>
          <td>{{visa.post}}</td>
          <td>{{visa.jobid}}</td>
          <td>{{visa.datedepot | date}}</td>
          <td>{{visa.status}}</td>
          <td>{{visa.typevisa}}</td>

          <td>
            <a class="btn btn-sm btn-danger" (click)="deletevisa(visa.id)" title="supprimer" >
              <i class="mdi mdi-delete"></i>
            </a>

            <ng-container *ngIf="visa.status =='ENCOUR'" >
              <a class="btn btn-sm btn-success" (click)="changeStatus(visa.id,'accepte')" >
                <i class="mdi mdi-marker-check"></i>
              </a>
              <a class="btn btn-sm btn-warning" (click)="changeStatus(visa.id,'refuse')" >
                <i class="mdi mdi-folder-remove"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="visa.status =='ACCEPTE'" >
              <a class="btn btn-sm btn-warning" (click)="changeStatus(visa.id,'refuse')" title="refuse" >
                <i class="mdi mdi-folder-remove"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="visa.status =='REFUSE'" >
              <a class="btn btn-sm btn-success" (click)="changeStatus(visa.id,'accepte')" title="acceptation" >
                <i class="mdi mdi-marker-check"></i>
              </a>

            </ng-container>

            <!--<a class="btn btn-sm btn-primary" [routerLink]="['/rh/accordvisa/'+visa.id]" >statusvisa</a>-->
          </td>

        </tr>
        </tbody>

      </table>
      <span *ngIf="visas.length==0">table vide</span>
    </div>
  </div>
</div>

