<form class="forms-sample" [formGroup]="employeecreateform" (ngSubmit)="createemployee()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert-success" *ngIf="has_error">
    {{error_message}}
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">nom employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="nom" placeholder="nom"
             formControlName="nom" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">prenom employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="prenom" placeholder="prenom"
             formControlName="prenom" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">email employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="email" placeholder="email"
             formControlName="email" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">mot de passe employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="password" placeholder="password"
             formControlName="password" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">post employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="post" placeholder="post"
             formControlName="post" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">status employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="status" placeholder="status"
             formControlName="status" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">cnss inscrit</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="cnss" placeholder="cnss"
             formControlName="cnss" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">departement</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="departement" placeholder="departement"
             formControlName="departement" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">jobid</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="jobid" placeholder="jobid"
             formControlName="jobid" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">salaire employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="salary" placeholder="salary"
             formControlName="salary" >
    </div>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit">Submit</button>
  <button class="btn btn-light" routerLink="/rh/listemployee">retour</button>
</form>
