<form class="forms-sample" [formGroup]="mapresenceform" (ngSubmit)="editpresence()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert-success" *ngIf="has_error">
    {{error_message}}
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">temp de sortie</label>
    <div class="col-sm-9">
      <input type="time" class="form-control" id="tempsortie"
             placeholder="entrer votre temp de sortie" formControlName="tempsortie"  step="2" >
    </div>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit"  >Submit</button>
  <button class="btn btn-light" routerLink="/rh/presence">Cancel</button>
</form>
