<div class="container-fluid px-4">
  <div class="table-responsive pt-3">
    <div class="card-body">

      <a  class="btn btn-success" routerLink="/espaceemployee/addconge">Ajouter Demande congé </a>
    </div>
    <table class="table" *ngIf="conges.length>0">
      <thead >
      <tr class="table-success">
        <th scope="col">
         Nom
        </th>
        <th scope="col">
          Prenom
        </th>
        <th scope="col">
          Post
        </th>
        <th scope="col">
          Matricule
        </th>

        <th scope="col">
        Date debut
        </th>
        <th scope="col" >
         Date Fin
        </th>
        <th scope="col">
          Status
        </th>
        <th scope="col">
        Type
        </th>

      </tr >
      </thead  >
      <tbody>
      <tr *ngFor="let i of conges" >
        <td>{{i.nom}}</td>
        <td>{{i.prenom}}</td>
        <td>{{i.post}}</td>
        <td>{{i.jobid}}</td>
        <td>{{i.datedebut}}</td>
        <td>{{i.datefin}}</td>
        <td>{{i.statusConge}}</td>
        <td>{{i.typeConge}}</td>

      </tr>
      </tbody>
    </table>
    <span *ngIf="conges.length==0"> Table Vide</span>
  </div>
  <div>

  </div>
</div>
