<div class="container-fluid px-4">
  <h1 class="mt-4">liste de votre demande conge</h1>
  <div class="card mb-4">
    <div class="card-body">
      cliquer sur ce bouton pour ajouter demande conge
      <a class="btn btn-outline-primary" routerLink="/espaceemployee/addconge">Ajouter demande conge</a>
    </div>
  </div>

  <div class="table-responsive pt-3">
    <table class="table table-dark">
      <thead>
      <tr>

        <th>
          date debut
        </th>
        <th>
         date fin
        </th>
        <th>
          status conge
        </th>
        <th>
         type conge
        </th>
        <th>
          nom employee
        </th>
        <th>
          prenom employee
        </th>
        <th>
         post
        </th>
        <th>
          jobid
        </th>
      </tr >
      </thead>
      <tbody>
      <tr *ngFor="let i of conges">
        <td>{{i.datedebut}}</td>
        <td>{{i.datefin}}</td>
        <td>{{i.statusConge}}</td>
        <td>{{i.typeConge}}</td>
        <td>{{i.nom}}</td>
        <td>{{i.prenom}}</td>
        <td>{{i.post}}</td>
        <td>{{i.jobid}}</td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
