<div class="container-fluid px-4">
<h1  class="mt-4"> Liste Postulation Des Offres</h1>
  <div>
    <form class="form-inline" [formGroup]="searchinscritoffreform"  (ngSubmit)="searchinscritoffre()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
    <div class="card mb-4">
      <div class="card-body">
        <table class="table table-bordered" *ngIf="inscritoffreemploies.length>0">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Offre</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let inscrit of inscritoffreemploies">
            <td>{{inscrit.nom}}</td>
            <td>{{inscrit.prenom}}</td>
            <td>{{inscrit.titredoffre}}</td>
            <td>{{inscrit.status}}</td>
            <td>
              <a class="btn btn-link" [routerLink]="['/rh/detaillinscritoffre/'+inscrit.id]" >
                <i class="mdi mdi-eye"></i></a>
              <ng-container *ngIf="inscrit.status =='ENCOUR'" >
                <a class="btn btn-sm btn-success" (click)="statusinscrit(inscrit.id,'accepte')">
                  <i class="mdi mdi-marker-check"></i>
                </a>
                <a class="btn btn-sm btn-warning" (click)="statusinscrit(inscrit.id,'refuse')">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="inscrit.status =='ACCEPTE'" >
               <!-- <a class="btn btn-sm btn-warning" (click)="statusinscrit(inscrit.id,'refuse')" title="refus">
                  <i class="mdi mdi-folder-remove"></i>
                </a>-->
                <a [routerLink]="'/rh/addentretient/'+inscrit.id" *ngIf="inscrit.hasinterview === false">Fixer un RDV</a>
              </ng-container>
              <ng-container *ngIf="inscrit.status =='REFUSE'" >
                <a class="btn btn-sm btn-success" (click)="statusinscrit(inscrit.id,'accepte')" title="acceptation">
                  <i class="mdi mdi-marker-check"></i>
                </a>

              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="inscritoffreemploies.length==0">table vide</span>
      </div>
    </div>


  </div>



