<div class="container-fluid px-4">
  <h1 class="mt-4">Liste  Fiches De Paie </h1>
  <div>
    <form class="form-inline" [formGroup]="searchficheform"  (ngSubmit)="searchfiche()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card mb-4">
      <div class="card-body">
         <div class="card-header">
            <a class="btn btn-success" routerLink="/rh/addfichdepaie" title="Ajouter Fiche de paie">
              <i class="mdi mdi-database-plus"></i> </a>
          </div>
        <table class="table table-bordered" *ngIf="fiches.length>0">
          <thead>
          <tr>
            <th>Date</th>
            <th>Salairebrut</th>
            <th>Salairenet</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Post</th>
            <th>Matricule</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of fiches">
            <td>{{i.date}}</td>
            <td>{{i.salairebrut}}</td>
            <td>{{i.salairenet}}</td>
            <td>{{i.nom}}</td>
            <td>{{i.prenom}}</td>
            <td>{{i.post}}</td>
            <td>{{i.jobid}}</td>
            <td>
              <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editfichedepaie/'+i.id]"
                 title="mise a jour"><i class="mdi mdi-pen"></i></a>
              <a class="btn btn-sm btn-danger" (click)="Deletefichedepaie(i.id)" title="supprimer"> <i class="mdi mdi-delete"></i></a>
            </td>

          </tr>
          </tbody>

        </table>
        <span *ngIf="fiches.length==0">table vide</span>
      </div>
    </div>


</div>
