<div class="container-fluid px-4">
  <h1 class="mt-4">Liste de les inscrits des formations des employees</h1>
  <hr>
  <div >
    <form  [formGroup]="inscritsearchbylasrnamefirstnameform"
           (ngSubmit)="searchinscritbylastnamefirstname()" >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group ">
            <label>taper employee_nom</label>
            <input type="text" id="nom"  class="form-control"
                   name="nom" placeholder="nom employee" formControlName="nom">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group ">
            <label>taper employee_prenom:</label>
            <input type="text" id="prenom"  class="form-control"
                   name="prenom" placeholder="prenom employee" formControlName="prenom">
          </div>
        </div>
      </div>
      <div class="form-group mb-5">
        <button class="btn btn-info" type="submit">chercher</button>
      </div>
    </form>
    <form  [formGroup]="inscritsearchform" (ngSubmit)="searchinscrit()" >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group ">
            <label>inscrit formation par jobid</label>
            <input type="text" id="jobid"  class="form-control"
                   name="jobid" placeholder="jobid" formControlName="jobid">
          </div>
        </div>
      </div>
      <div class="form-group mb-5">
        <button class="btn btn-info" type="submit">chercher</button>
      </div>
    </form>
    <div class="card mb-4">

      <div class="card-body">
        <table class="table table-bordered" *ngIf="inscritformtions.length>0">
          <thead>
          <tr>
            <th>nom employee</th>
            <th>prenom employee</th>
            <th>jobid</th>
            <th>status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let inscrit of inscritformtions">
            <td>{{inscrit.nom}}</td>
            <td>{{inscrit.prenom}}</td>
            <td>{{inscrit.jobid}}</td>
            <td>{{inscrit.status}}</td>
            <td>
              <a class="btn btn-link" style="margin-right:5px;" [routerLink]="['/rh/detaillinscritformation/'+inscrit.id]" ><i class="mdi mdi-eye"></i></a>
              <ng-container *ngIf="inscrit.status =='ENCOUR'" >
                <a class="btn btn-sm btn-success" (click)="changestatus(inscrit.id,'accepte')">
                  <i class="mdi mdi-marker-check"></i>
                </a>
                <a class="btn btn-sm btn-warning" (click)="changestatus(inscrit.id,'refuse')">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="inscrit.status =='ACCEPTE'" >
                <a class="btn btn-sm btn-warning" (click)="changestatus(inscrit.id,'refuse')">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="inscrit.status =='REFUSE'" >
                <a class="btn btn-sm btn-success" (click)="changestatus(inscrit.id,'accepte')">
                  <i class="mdi mdi-marker-check"></i>
                </a>

              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="inscritformtions.length==0">table vide</span>
      </div>
    </div>


  </div>


</div>
