<div class="container-fluid px-4">
  <h1 class="mt-4">Liste Inscit Formation</h1>
  <div>
    <form class="form-inline" [formGroup]="inscritsearchform"  (ngSubmit)="searchiinscform()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div >
    <div class="card mb-4">
      <div class="card-body">
        <table class="table table-bordered" *ngIf="inscritformtions.length>0">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Matricule</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let inscrit of inscritformtions">
            <td>{{inscrit.nom}}</td>
            <td>{{inscrit.prenom}}</td>
            <td>{{inscrit.jobid}}</td>
            <td>{{inscrit.status}}</td>
            <td>
              <a class="btn btn-link" style="margin-right:5px;" [routerLink]="['/rh/detaillinscritformation/'+inscrit.id]" ><i class="mdi mdi-eye"></i></a>
              <ng-container *ngIf="inscrit.status =='ENCOUR'" >
                <a class="btn btn-sm btn-success" (click)="changestatus(inscrit.id,'accepte')">
                  <i class="mdi mdi-marker-check"></i>
                </a>
                <a class="btn btn-sm btn-warning" (click)="changestatus(inscrit.id,'refuse')">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <!--<ng-container *ngIf="inscrit.status =='ACCEPTE'" >
                <a class="btn btn-sm btn-warning" (click)="changestatus(inscrit.id,'refuse')">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="inscrit.status =='REFUSE'" >
                <a class="btn btn-sm btn-success" (click)="changestatus(inscrit.id,'accepte')">
                  <i class="mdi mdi-marker-check"></i>
                </a>

              </ng-container>-->
            </td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="inscritformtions.length==0">table vide</span>
      </div>
    </div>
  </div>
</div>
