<div class="container-fluid px-4">
  <div>
    <form class="form-inline" [formGroup]="cherchentretientform"  (ngSubmit)="searchentretient()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32.75px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div >

    <div class="card mb-4">

      <div class="card-body">

          <div class="card-body">
            <a class="btn btn-success" routerLink="/rh/addentretient" >
              <i class="mdi mdi-database-plus"></i></a>
          </div>

        <table class="table table-bordered" *ngIf="entretients.length>0">
          <thead>
          <tr>
            <th>nom</th>
            <th>prenom</th>
            <th>carte identite</th>
            <th>date</th>
            <th>heure</th>
            <th>status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of entretients">
            <td>{{i.nom}}</td>
            <td>{{i.prenom}}</td>
            <td>{{i.cin}}</td>
            <td>{{i.date | date}}</td>
            <td>{{i.heure}}</td>
            <td>{{i.status}}</td>
            <td>
              <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editentretient/'+i.id]" title="miseajour" >
                <i class="mdi mdi-pen"></i>
              </a>
              <a class="btn btn-sm btn-danger"  (click)="deleteentret(i.id)" title="supprimer">
                <i class="mdi mdi-delete"></i>
              </a>
              <ng-container *ngIf="i.status =='ENCOUR'" >
                <a class="btn btn-sm btn-success" (click)="changestatus(i.id,'accepte')">
                  <i class="mdi mdi-marker-check"></i>
                </a>
                <a class="btn btn-sm btn-warning" (click)="changestatus(i.id,'refuse')">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="i.status =='ACCEPTE'" >
                <a class="btn btn-sm btn-warning" (click)="changestatus(i.id,'refuse')" title="refus">
                  <i class="mdi mdi-folder-remove"></i>
                </a>
              </ng-container>
              <ng-container *ngIf="i.status =='REFUSE'" >
                <a class="btn btn-sm btn-success" (click)="changestatus(i.id,'accepte')" title="acceptation">
                  <i class="mdi mdi-marker-check"></i>
                </a>

              </ng-container>
            </td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="entretients.length==0">table vide</span>
      </div>
    </div>
  </div>
</div>
