<form class="forms-sample" [formGroup]="maoffreemplform" (ngSubmit)="editoffreemploie()">
  <div class="form-group">
    <label >Offre</label>
    <input type="text" class="form-control" id="titre d offre" placeholder="titredoffre"
           name="titredoffre" formControlName="titredoffre">
  </div>
  <div class="form-group">
    <label >Date Limite</label>
    <input type="date" class="form-control" id="datelimite"  placeholder="dd-mm-yyyy"
           name="datelimite" formControlName="datelimite">
  </div>
  <div class="form-group">
    <label >Description</label>
    <input type="text" class="form-control" id="description" placeholder="description"
           name="description" formControlName="description">
  </div>
  <div class="form-group">
    <label >Langue</label>
    <input type="text" class="form-control" id="langue" placeholder="langue"
           name="langue" formControlName="langue">
  </div>
  <div class="form-group">
    <label >experience</label>
    <input type="text" class="form-control" id="experience" placeholder="experience"
           name="experience" formControlName="experience">
  </div>
  <div class="form-group">
    <label >Exigence Emploie</label>
    <input type="text" class="form-control" id="exigenceemploie" placeholder="exigence emploie"
           name="exigenceemploie" formControlName="exigenceemploie">
  </div>
  <button type="submit" class="btn btn-gradient-primary mr-2">Envoyer</button>
  <button class="btn btn-light" routerLink="/rh/offreemploie">Annuler</button>
</form>
