<div class="container-fluid px-4">
  <div>
    <form class="form-inline" [formGroup]="cherchcongeform"  (ngSubmit)="searchallconge()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 33.5px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <table class="table table-bordered" *ngIf="conges.length>0">
        <thead>
        <tr>
          <th scope="col">
           NON
          </th>
          <th scope="col">
            PRENOM
          </th>
          <th scope="col">
            POST
          </th>
          <th scope="col">
            MATRICULE
          </th>
          <th scope="col">
          DATE DEBUT
          </th>
          <th scope="col">
            DATE FIN
          </th>
          <th scope="col">
            TYPE CONGE
          </th>
          <th scope="col">
           STATUS
          </th>

          <th scope="col">
            ACTION
          </th>
        </tr >
        </thead>
        <tbody>
        <tr *ngFor="let i of conges">
          <td>{{i.nom}}</td>
          <td>{{i.prenom}}</td>
          <td>{{i.post}}</td>
          <td>{{i.jobid}}</td>
          <td>{{i.datedebut}}</td>
          <td>{{i.datefin}}</td>
          <td>{{i.typeConge}}</td>
          <td>{{i.statusConge}}</td>
          <td>
            <a class="btn btn-sm btn-danger mr-2" style="margin-right:5px;" (click)="deleteconge(i.id)" title="Supprimer Congé">
              <i class="mdi mdi-delete"></i></a>
            <ng-container *ngIf="i.statusConge =='DEMANDEENCOUR'" >
              <a class="btn btn-sm btn-success" (click)="changestatus(i.id,'accepte')" >
                <i class="mdi mdi-marker-check"></i>
              </a>
              <a class="btn btn-sm btn-warning" (click)="changestatus(i.id,'refuse')" >
                <i class="mdi mdi-folder-remove"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="i.statusConge =='ACCEPTEDEMANDE'" >
              <a class="btn btn-sm btn-warning" (click)="changestatus(i.id,'refuse')" title="refuse" >
                <i class="mdi mdi-folder-remove"></i>
              </a>
            </ng-container>
            <ng-container *ngIf="i.statusConge =='REFUSEDEMANDE'" >
              <a class="btn btn-sm btn-success" (click)="changestatus(i.id,'accepte')" title="acceptation" >
                <i class="mdi mdi-marker-check"></i>
              </a>

            </ng-container>
          </td>


        </tr>
        </tbody>

      </table>
      <span *ngIf="conges.length==0">table vide</span>
    </div>
  </div>
</div>
