<div class="container-fluid px-4">
  <h1 class="mt-4">liste demande conge de tout les employees</h1>

<div>
  <form [formGroup]="cherchcongeform" (ngSubmit)="searchcongebyjobid()" >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group ">
          <label>chercher conge par job id</label>
          <input type="text" id="jobid"  class="form-control"
                 name="jobid" placeholder="
                  entrer jobid de l employee" formControlName="jobid">
        </div>
      </div>

    </div>
    <div class="form-group mb-5">
      <button class="btn btn-info" type="submit">chercher presence </button>
    </div>
  </form>
</div>
  <div class="table-responsive pt-3">
    <table class="table table-dark" *ngIf="conges.length>0">
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          date debut
        </th>
        <th>
          date fin
        </th>
        <th>
          status conge
        </th>
        <th>
          type conge
        </th>
        <th>
          nom employee
        </th>
        <th>
          prenom employee
        </th>
        <th>
          post
        </th>
        <th>
          jobid
        </th>
        <th>
          action
        </th>



      </tr >
      </thead>
      <tbody>
      <tr *ngFor="let i of conges">
        <td>{{i.id}}</td>
        <td>{{i.datedebut}}</td>
        <td>{{i.datefin}}</td>
        <td>{{i.statusConge}}</td>
        <td>{{i.typeConge}}</td>
        <td>{{i.nom}}</td>
        <td>{{i.prenom}}</td>
        <td>{{i.post}}</td>
        <td>{{i.jobid}}</td>
        <td>
          <a class="btn btn-sm btn-danger" (click)="deleteconge(i.id)">supprimer</a>
          <a class="btn btn-sm btn-primary"[routerLink]="['/rh/accordconge/'+i.id]">accord</a>
        </td>


      </tr>
      </tbody>

    </table>
    <span *ngIf="conges.length==0">table vide</span>
  </div>
</div>
