<div class="container-fluid px-4">
<h1>Détail Offre Emploie</h1>
  <div >
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1">Offre:</p>
          <p class="text-light bg-dark pl-1">Date Limite:</p>
          <p class="text-light bg-dark pl-1">Date Creation:</p>
          <p class="text-light bg-dark pl-1">Description:</p>
          <p class="text-light bg-dark pl-1">Langue:</p>
          <p class="text-light bg-dark pl-1">Experience:</p>
          <p class="text-light bg-dark pl-1">Exigence:</p>
        </div>
        <div class="col-md-6">
          <p style="color: #6a008a">{{offresemploie.titredoffre}}</p>
          <p style="color: #6a008a">{{offresemploie.datelimite}}</p>
          <p  style="color: #6a008a">{{offresemploie.datecreation}}</p>
          <p  style="color: #6a008a">{{offresemploie.description}}</p>
          <p style="color: #6a008a">{{offresemploie.langue}}</p>
          <p  style="color: #6a008a">{{offresemploie.experience}}</p>
          <p  style="color: #6a008a">{{offresemploie.exigenceemploie}}</p>
        </div>
      </div>
    </div>
    <div >
      <button class="btn btn-warning" routerLink="/espacecondidat/offreemploie">Retour
      </button>
      <button  class="btn btn-success"  (click)="applayoffre()" >
        Postuler
      </button>

    </div>

  </div>
</div>
