<div class="container-fluid px-4">

  <div >
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1">TYPEOFFRE:</p>
          <p class="text-light bg-dark pl-1">DATELIMITE:</p>
          <p class="text-light bg-dark pl-1">DATECREATION:</p>
          <p class="text-light bg-dark pl-1">DESCRIPTION:</p>
          <p class="text-light bg-dark pl-1">LANGUE:</p>
          <p class="text-light bg-dark pl-1">EXPERIENCE:</p>
          <p class="text-light bg-dark pl-1">EXIGENCE:</p>
        </div>
        <div class="col-md-6">
          <p style="color: #6a008a">{{offresemploie.titredoffre}}</p>
          <p style="color: #6a008a">{{offresemploie.datelimite}}</p>
          <p  style="color: #6a008a">{{offresemploie.datecreation}}</p>
          <p  style="color: #6a008a">{{offresemploie.description}}</p>
          <p style="color: #6a008a">{{offresemploie.langue}}</p>
          <p  style="color: #6a008a">{{offresemploie.experience}}</p>
          <p  style="color: #6a008a">{{offresemploie.exigenceemploie}}</p>
        </div>
      </div>
    </div>
    <div >
      <button class="btn btn-warning" routerLink="/espacecondidat/offreemploie">retour vers l offre
      </button>
      <button  class="btn btn-success" (click)="applayoffre()" >
        postuler

      </button>

    </div>

  </div>
</div>
