<div class="container-fluid px-4">
  <h6 class="mt-4">voila l offre d emploie en detaille </h6>
  <div >
   <div >
     <h1>titredoffre:</h1><br>
     {{offresemploie.titredoffre}}
     <h1>datelimite:</h1><br>
     {{offresemploie.datelimite | date}}
     <h1>datecreation:</h1><br>
     {{offresemploie.datecreation | date}}
     <h1>description:</h1><br>
     {{offresemploie.description}}
     <h1>langue:</h1><br>
     {{offresemploie.langue}}
     <h1>experience:</h1><br>
     {{offresemploie.experience}}
     <h1>exigenceemploie:</h1><br>
     {{offresemploie.exigenceemploie}}

   </div>
    <div >
      <button class="btn btn-warning" routerLink="/espacecondidat/offreemploie">retour vers l offre
      </button>
      <button  class="btn btn-success" (click)="applayoffre()" >
        postuler

      </button>

    </div>

  </div>
</div>
