<div class="container-fluid px-4">
  <h1 class="mt-4">detaille employee </h1>
  <div >
    <div>

      <h3 style="color: red">email employee:</h3>
      {{employee.email}}
      <h3 style="color: red">status:</h3>
      {{employee.status}}
      <h3 style="color: red">salaire:</h3>
      {{employee.salary}}
      <h3 style="color: red">cnss:</h3>
      {{employee.cnss}}
      <h3 style="color: red">departement:</h3>
      {{employee.departement}}



    </div>
    <div>
      <button  class="btn btn-warning mr-2" routerLink="/rh/listemployee">retour au employee info</button>

    </div>

  </div>

</div>
