<div class="container-fluid px-4">
  <h1 class="mt-4">Détail Employé </h1>
  <div >
    <div>
      <h3 style="color: red">Email:</h3>
      {{employee.email}}
      <h3 style="color: red">Status:</h3>
      {{employee.status}}
      <h3 style="color: red">Salaire:</h3>
      {{employee.salary}}
      <h3 style="color: red">Cnss:</h3>
      {{employee.cnss}}
      <h3 style="color: red">Département:</h3>
      {{employee.departement}}
    </div>
    <div>
      <button  class="btn btn-warning mr-2" routerLink="/rh/listemployee">Retour</button>
    </div>
  </div>
</div>
