<form class="forms-sample" [formGroup]="congeform"(ngSubmit)="Addconge()">
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">date debut</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="datedebut" placeholder="datedebut"
             formControlName="datedebut" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">date fin</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="datefin" placeholder="datefin" formControlName="datefin" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">statusConge</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="statusConge" placeholder="statusConge" formControlName="statusConge" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">type conge</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="typeConge" placeholder="typeConge" formControlName="typeConge" >
    </div>
  </div>

  <div class="form-group>">
    <select class="form-control" formControlName="employee_id" >
      <option value="">donne employee</option>
      <option value="{{e.id}}" *ngFor="let e of employee">
        nom:{{e.nom}}
        prenom:{{e.prenom}}
        jobid:{{e.jobid}} </option>
    </select>
  </div>

  <button class="btn btn-gradient-primary mr-2" type="submit"  >Submit</button>
  <button class="btn btn-light" routerLink="/espaceemployee/congeemployee">Cancel</button>
</form>
