<form class="forms-sample" [formGroup]="congeform"(ngSubmit)="Addconge()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="has_error">
    {{error_message}}
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">date debut</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="datedebut" placeholder="datedebut"
             formControlName="datedebut" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">date fin</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="datefin" placeholder="datefin" formControlName="datefin" >
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">type conge</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="typeConge" placeholder="typeConge" formControlName="typeConge" >
    </div>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit"  >Submit</button>
  <button class="btn btn-light" routerLink="/espaceemployee/congeemployee">Cancel</button>
</form>
