<form class="forms-sample" [formGroup]="congeform"(ngSubmit)="Addconge()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="has_error">
    {{error_message}}
  </div>
  <div class="form-group ">
    <label  >Date Debut</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="datedebut" placeholder="datedebut"
             formControlName="datedebut" >
    </div>
  </div>
  <div class="form-group ">
    <label  >Date Fin</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="datefin" placeholder="datefin" formControlName="datefin" >
    </div>
  </div>

  <div class="form-group ">
    <label >Type Conge</label>
    <select class="form-control" id="typeConge" name="typeConge" placeholder="type de Conge"  formControlName="typeConge">
      <option value="MALADIE">MALADIE</option>
      <option value="ANUELLE">ANUELLE</option>
      <option value="MATERNITE">MATERNITE</option>
    </select>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit"  >Envoye</button>
  <button class="btn btn-light" routerLink="/espaceemployee/congeemployee">Retour</button>
</form>
