<div class="container-fluid px-4">
  <h3 class="mt-4">liste de  candidat</h3>



  <div class="container-scroller px-4" >


    <form [formGroup]="cherchcandidatform" (ngSubmit)="searchcandidat()" >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group ">
            <label>taper nom employee:</label>
            <input type="text" id="nom"  class="form-control"
                   name="nom" placeholder="nom de candidats" formControlName="nom">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group ">
            <label>prenom d employee:</label>
            <input type="text" id="prenom"  class="form-control"
                   name="prenom" placeholder="prenom de candidats" formControlName="prenom">
          </div>
        </div>

      </div>
      <div class="form-group mb-5">
        <button class="btn btn-info" type="submit">cherche candidat par nom&prenom</button>
      </div>
    </form>
    <form [formGroup]="cherchcandidatform" (ngSubmit)="searchbyCIN()" >
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group ">
            <label>taper CIN employee:</label>
            <input type="text" id="cin"  class="form-control"
                   name="cin" placeholder="CIN de candidats" formControlName="cin">
          </div>
        </div>

      </div>

      <div class="form-group mb-5">
        <button class="btn btn-info" type="submit">cherche candidat par CIN</button>
      </div>
    </form>



    <div >
      <div class="table-responsive" >
        <table class="table table-hover" *ngIf="candidats.length>0">
          <thead>
          <tr>
            <th>nomcandidat</th>
            <th>prenomcandidat</th>
            <th>post</th>
            <th>action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let condidat of candidats" >
            <td>{{condidat.nom}}</td>
            <td>{{condidat.prenom}}</td>
            <td>{{condidat.post}}</td>
            <td>

              <button class="btn btn-sm btn-link" [routerLink]="['/rh/candidatdetail/'+condidat.id]" >voir plus</button>
              <a class="btn btn-sm btn-link" style="color: green" (click)="sendMail(condidat.id,'A')" >
                mail d acceptation
                <i class="mdi mdi-email"></i></a>
              <a class="btn btn-sm btn-link" style="color: red" (click)="sendMail(condidat.id,'R')" >
                mail de refus
                <i class="mdi mdi-email"></i></a>
            </td>

          </tr>
          </tbody>
        </table>
        <span *ngIf="candidats.length==0">table vide</span>
      </div>
    </div>



  </div>

</div>
