<div class="col-md-12 grid-margin">
  <div>
    <h3 style="color:red;">detaille offre postuler: </h3>
  </div>
  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1">date de creation</p>
          <p class="text-light bg-dark pl-1">tittre d offre</p>
          <p class="text-light bg-dark pl-1">description</p>
          <p class="text-light bg-dark pl-1">date limite d offre</p>
          <p class="text-light bg-dark pl-1">langue</p>
          <p class="text-light bg-dark pl-1">experience</p>
          <p class="text-light bg-dark pl-1">exigence emploie</p>
        </div>
        <div class="col-md-6">
          <p style="color: #6a008a">{{inscritoffre.datecreation}}</p>
          <p style="color: #6a008a">{{inscritoffre.titredoffre}}</p>
          <p  style="color: #6a008a">{{inscritoffre.description}}</p>
          <p  style="color: #6a008a">{{inscritoffre.datelimite}}</p>
          <p style="color: #6a008a">{{inscritoffre.langue}}</p>
          <p  style="color: #6a008a">{{inscritoffre.experience}}</p>
          <p  style="color: #6a008a">{{inscritoffre.exigenceemploie}}</p>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-info" routerLink="/rh/inscritoffre">
        <i class="mdi mdi-exit-to-app"></i>
        retour
      </button>
    </div>
  </div>

</div>





