<div class="col-md-12 grid-margin">

  <div class="card">
    <div class="card-body">
      <h3 style="color:red;">Detaille Candidat: </h3>
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1">Nom:</p>
          <p class="text-light bg-dark pl-1">Prenom:</p>
          <p class="text-light bg-dark pl-1">Cin:</p>
          <p class="text-light bg-dark pl-1">Date Naissance:</p>
          <p class="text-light bg-dark pl-1">Numero telephone:</p>
          <p class="text-light bg-dark pl-1">Adresse:</p>
          <p class="text-light bg-dark pl-1">Ville:</p>
          <p class="text-light bg-dark pl-1">Nationalité:</p>
          <p class="text-light bg-dark pl-1">Niveau Etude:</p>
          <p class="text-light bg-dark pl-1">Tittre Diplome:</p>
          <p class="text-light bg-dark pl-1">Université:</p>
          <p class="text-light bg-dark pl-1">Niveau Expérience:</p>
          <p class="text-light bg-dark pl-1">Compétences:</p>
        </div>
        <div class="col-md-6">
          <p style="color: #6a008a">{{inscritoffre.nom}}</p>
          <p style="color: #6a008a">{{inscritoffre.prenom}}</p>
          <p  style="color: #6a008a">{{inscritoffre.cin}}</p>
          <p  style="color: #6a008a">{{inscritoffre.dateOfBirth}}</p>
          <p style="color: #6a008a">{{inscritoffre.phone}}</p>
          <p  style="color: #6a008a">{{inscritoffre.adresse}}</p>
          <p  style="color: #6a008a">{{inscritoffre.ville}}</p>
          <p  style="color: #6a008a">{{inscritoffre.nationality}}</p>
          <p  style="color: #6a008a">{{inscritoffre.niveauEtud}}</p>
          <p  style="color: #6a008a">{{inscritoffre.titreDiplome}}</p>
          <p  style="color: #6a008a">{{inscritoffre.university}}</p>
          <p  style="color: #6a008a">{{inscritoffre.niveauExp}}</p>
          <p  style="color: #6a008a">{{inscritoffre.competences}}</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <h3 style="color:red;">Detaille Offre Postuler: </h3>
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1">Date  Creation</p>
          <p class="text-light bg-dark pl-1">Offre</p>
          <p class="text-light bg-dark pl-1">Description</p>
          <p class="text-light bg-dark pl-1">Date Limite </p>
          <p class="text-light bg-dark pl-1">Langue</p>
          <p class="text-light bg-dark pl-1">Experience</p>
          <p class="text-light bg-dark pl-1">Exigence Emploie</p>
        </div>
        <div class="col-md-6">
          <p style="color: #6a008a">{{inscritoffre.datecreation}}</p>
          <p style="color: #6a008a">{{inscritoffre.titredoffre}}</p>
          <p  style="color: #6a008a">{{inscritoffre.description}}</p>
          <p  style="color: #6a008a">{{inscritoffre.datelimite}}</p>
          <p style="color: #6a008a">{{inscritoffre.langue}}</p>
          <p  style="color: #6a008a">{{inscritoffre.experience}}</p>
          <p  style="color: #6a008a">{{inscritoffre.exigenceemploie}}</p>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-info" routerLink="/rh/inscritoffre">
        <i class="mdi mdi-exit-to-app"></i>
        Retour
      </button>
    </div>
  </div>

</div>





