<div class="container-fluid px-4">
  <h1 class="mt-4">Liste Des  Employees</h1>

  <div>
    <form class="form-inline" [formGroup]="searchemployee"  (ngSubmit)="saerchemployee()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-header">
          <a class="btn btn-outline-primary" routerLink="/rh/creationemployee" title="Crier Employee">
            <i class="mdi mdi-database-plus"></i></a>
        </div>
        <table class="table table-bordered" *ngIf="employees.length>0">
          <thead>
          <tr>
            <th scope="colgroup">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Matricule</th>
            <th scope="col">Post</th>
            <th scope="col">Action</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of employees">
            <td>{{i.nom}}</td>
            <td>{{i.prenom}}</td>
            <td>{{i.jobid}}</td>
            <td>{{i.post}}</td>
            <td>
              <a class="btn btn-sm btn-link" [routerLink]="['/rh/detailemployee/'+i.id]" ><i class="mdi mdi-eye"></i></a>
              <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editemployee/'+i.id]" >
                <i class="mdi mdi-pen"></i>
              </a>
              <a class="btn btn-sm btn-danger" (click)="deleteemployee(i.id)" title="Supprimer">
                <i class="mdi mdi-delete"></i>
              </a>
            </td>
            <!--<td>
              <a class="btn btn-link" style="color: #28a745" (click)="sendemail(i.id,'confirm')">

                <i class="mdi mdi-email"></i>
              </a>
              <a class="btn btn-link" style="color: red" (click)="sendemail(i.id,'anulle')">

                <i class="mdi mdi-email"></i>
              </a>
            </td>-->
          </tr>
          </tbody>
        </table>
        <span *ngIf="employees.length==0"> table vide</span>
      </div>
    </div>
  </div>
  <div>
  </div>


