<div class="container-fluid px-4">
  <h1 class="mt-4">Liste de employees</h1>

  <div class="card mb-4">
    <div class="card-body">
      cliquer sur ce bouton pour crier un employee
      <a class="btn btn-outline-primary" routerLink="/rh/creationemployee">creation employee</a>
    </div>
  </div>

  <hr>
  <div >


    <div>
      <form   [formGroup]="searchemployee" (ngSubmit)="serchemployee()"  >
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group ">
              <label>employee job id:</label>
              <input type="text" id=" jobid"
                     class="form-control"
                     name="jobid"
                     placeholder="jobid"
                     formControlName="jobid">
            </div>
          </div>

        </div>
        <div class="form-group mb-5">
          <button class="btn btn-info" type="submit">chercher fiche de paie</button>
        </div>
      </form>

    </div>


    <div class="table-responsive">
      <table class="table table-bordered table-dark" *ngIf="employees.length>0">
        <thead>
        <tr>
          <th scope="col">nom employee</th>
          <th scope="col">prenom employee</th>
          <th scope="col">post</th>
          <th scope="col">jobid</th>
          <th scope="col">Action</th>
          <th scope="col">mailmeeting</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of employees">
          <td>{{i.nom}}</td>
          <td>{{i.prenom}}</td>
          <td>{{i.post}}</td>
          <td>{{i.jobid}}</td>
          <td>
            <a class="btn btn-sm btn-link" [routerLink]="['/rh/detailemployee/'+i.id]" >voir plus</a>
            <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editemployee/'+i.id]" >
              <i class="mdi mdi-rewind"></i>
            </a>
            <a class="btn btn-sm btn-danger" (click)="deleteemployee(i.id)">
              <i class="mdi mdi-delete"></i>
            </a>
          </td>
          <td>
            <a class="btn btn-link" style="color: #28a745" (click)="sendemail(i.id,'confirm')">

              <i class="mdi mdi-email"></i>
            </a>
            <a class="btn btn-link" style="color: red" (click)="sendemail(i.id,'anulle')">

              <i class="mdi mdi-email"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="employees.length==0"> table vide</span>
    </div>
  </div>
  <div>
   <h3 style="color: red">NB:</h3>
    <p> dans la colone "mailmeeting" coleur vert indique la comfirmation de meet
      et l autre l annulation
    </p>

  </div>

</div>
