<form class="forms-sample" [formGroup]="employeeeditform" (ngSubmit)="editemployee()">

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Nom </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="nom" placeholder="nom"
             formControlName="nom" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Prénom </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="prenom" placeholder="prenom"
             formControlName="prenom" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Email </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="email" placeholder="email"
             formControlName="email" >
    </div>
  </div>

  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Post</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="post" placeholder="post"
             formControlName="post" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Status Employee</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="status" placeholder="status"
             formControlName="status" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Cnss inscrit</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="cnss" placeholder="cnss"
             formControlName="cnss" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Departement</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="departement" placeholder="departement"
             formControlName="departement" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Matricule</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="jobid" placeholder="jobid"
             formControlName="jobid" >
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Salaire Employee en dt:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="salary" placeholder="salary"
             formControlName="salary" >
    </div>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit" *ngIf="employeeeditform.valid">Enregistrer</button>
  <button class="btn btn-light" routerLink="/rh/listemployee">Annuler</button>
</form>

