<form class="forms-sample" [formGroup]="macontratform" (ngSubmit)="editcontrat()">

  <div class="form-group">
    <label >Type Contrat</label>
    <input type="text" class="form-control" id="type" placeholder="type" name="type" formControlName="type">
  </div>
  <div class="form-group">
    <label >Date Debut</label>
    <input type="date" class="form-control" id="datedebut" placeholder="date debut" name="datedebut" formControlName="datedebut">
  </div>
  <button type="submit" class="btn btn-gradient-primary mr-2" *ngIf="macontratform.valid">Enregistrer</button>
  <button class="btn btn-light" routerLink="/rh/contrat">Annuler</button>
</form>
