<form class="forms-sample" [formGroup]="mafichepform" (ngSubmit)="updatefiche()">
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">date</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="date" placeholder="date"
             name="date" formControlName="date">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">salairenet</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="salairenet" placeholder="salaire net"
             name="salairenet" formControlName="salairenet">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">salairebrut</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="salairebrut" placeholder="salaire brut"
             name="salairebrut" formControlName="salairebrut">
    </div>
  </div>


  <button type="submit" class="btn btn-gradient-primary mr-2" >edit</button>
  <button class="btn btn-light" routerLink="/rh/fichdepaie">Cancel</button>
</form>
