<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

  <div class="navbar-menu-wrapper d-flex align-items-stretch col-lg-12">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
            data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="profileDropdown" ngbDropdownToggle>

          <div class="nav-profile-img">

            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black" style="color: blue">{{email}}</p>
          </div>
        </a>

      </li>
      <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" (click)="onLogout()" style="color:red;">
          Déconnexion
          <i class="mdi mdi-power"></i>
        </a>
      </li>

    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            (click)="toggleOffcanvas()">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
