<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" ><img width="100" src="assets/images/logogrh.png" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/dashboardinfo" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/listemployee" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Liste Employees </span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/offreemploie" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Offre Emploie</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/inscritoffre" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Inscription Offreemploie</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/entretient" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Entretient</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="rh/fichdepaie" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Fiche de Paie</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/contrat" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Contrat</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/conge" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Congé </span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="rh/formation" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Formation Entreprise</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/inscritformation" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Inscription Formation</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Evaluation des Formations</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
    <a class="nav-link" routerLink="/rh/visa" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Visa</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_serviceRH'">
      <a class="nav-link" routerLink="/rh/notedefraie" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Note de Fraie </span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Condidat'">
      <a class="nav-link" routerLink="/espacecondidat/offreemploie/" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Offre_Emploie</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Condidat'">
      <a class="nav-link" routerLink="/espacecondidat/inscritoffre" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Mes Inscrit Offre_Emploie </span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Condidat'">
      <a class="nav-link" routerLink="/espacecondidat/entretient" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Entretient</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/congeemployee" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Demande Congé </span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/visa" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Demande Visa</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/formationemployee" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Formation</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/inscritformationemployee" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Mes inscrit Formations </span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/notedefraie" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Note de Fraie</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/contratemployee" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Contrat</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }" *ngIf="authority === 'ROLE_Employee'">
      <a class="nav-link" routerLink="/espaceemployee/fichedepaieemployee"
         routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Fiche de Paie</span>

        <i class="mdi mdi-account-convert menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
