<div class="container-fluid px-4">
<h1>Liste Des Offres D 'Emploies</h1>
  <div>
    <form class="form-inline" [formGroup]="searchoffreempl"  (ngSubmit)="search()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="titredoffre" class="form-control"  name="titredoffre"
                 placeholder="search"
                 formControlName="titredoffre" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
    <div >
     <div class="table-responsive" >
       <table class="table table-hover" *ngIf="offreemploies.length>0">
         <thead class="thead-dark">
         <tr>
           <th>Offre</th>
           <th>Date Limite</th>
           <th>Experience</th>
           <th>Action</th>

         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let offre of offreemploies">
           <td>{{offre.titredoffre}}</td>
           <td>{{offre.datelimite}}</td>
           <td>{{offre.experience}}</td>
           <td>

             <button class="btn btn-sm btn-link" [routerLink]="['/espacecondidat/detailoffre/'+offre.id]" >voir plus</button>
           </td>
         </tr>
         </tbody>
       </table>
       <span *ngIf="offreemploies.length==0">
         le table est vide
       </span>
     </div>
   </div>



  </div>


