<form class="forms-sample" [formGroup]="editmetingform" (ngSubmit)="editmeeting()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert-success" *ngIf="has_error">
    {{error_message}}
  </div>
  <div class="form-group">
    <label >date de meting:</label>
    <input type="date" class="form-control" id="date" placeholder="date de meeting"
           name="date" formControlName="date">
  </div>
  <div class="form-group">
    <label >heure</label>
    <input type="time" class="form-control" id="heure" placeholder="horaire de meeting"
           name="heure" formControlName="heure" step="2">
  </div>
  <div class="form-group">
    <label >lien de meeting:</label>
    <input type="text" class="form-control" id="lienmeet" placeholder="lien meeting"
           name="lienmeet" formControlName="lienmeet">
  </div>
  <div class="form-group ">
    <label>type meeting:</label>
    <select class="form-control" id="typemeeting" name="typemeeting" placeholder="mode meeting"  formControlName="typemeeting">
      <option value="ENLIGNE">ENLIGNE</option>
      <option value="PRESENTIEL">PRESENTIEL</option>
    </select>
  </div>
  <button class="btn btn-gradient-primary mr-2" type="submit">Submit</button>
  <button class="btn btn-light" routerLink="/rh/meeting">Cancel</button>
</form>
