<form class="forms-sample" [formGroup]="miseajourentreteintform" (ngSubmit)="updateentretient()">
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Date Entretient:</label>
    <div class="col-sm-9">
      <input type="date" class="form-control" id="date" placeholder="date"
             name="date" formControlName="date">
    </div>
  </div>
  <div class="form-group row">
    <label  class="col-sm-3 col-form-label">Heure Entretient</label>
    <div class="col-sm-9">
      <input type="time" class="form-control" id="heure" placeholder="heure entreteint"
             name="heure" formControlName="heure" step="2">
    </div>
  </div>
  <button type="submit" class="btn btn-gradient-primary mr-2" >Envoyer</button>
  <button class="btn btn-light" routerLink="/rh/entretient">Annuler</button>
</form>
