<div class="container-fluid px-4">
  <div >
    <div class="card mb-4">
      <div class="card-body">
        <table class="table "*ngIf="fiches.length>0">
          <thead >
          <tr class="table-success">
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">POST</th>
            <th scope="col">MATRICULE</th>
            <th scope="col">DATE</th>
            <th scope="col">SALAIREBRUT</th>
            <th scope="col">SALAIRENET</th>

            <th>ACTION</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of fiches">
            <td>{{i.nom}}</td>
            <td>{{i.prenom}}</td>
            <td>{{i.post}}</td>
            <td>{{i.jobid}}</td>
            <td>{{i.date}}</td>
            <td>{{i.salairebrut}}</td>
            <td>{{i.salairenet}}</td>

            <td>
              <button class="btn btn-link" (click)="exporterfiche(i.id)">
                telecharger
                <i class="mdi mdi-download"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>
        <span *ngIf="fiches.length==0">table vide</span>
      </div>
    </div>



  </div>

</div>
