<div class="container-fluid px-4">
  <div>
    <form class="form-inline" [formGroup]="searchoffreempl"  (ngSubmit)="search()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="titredoffre" class="form-control"  name="titredoffre"
                 placeholder="search"
                 formControlName="titredoffre" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div >
    <div class="card mb-4">
      <div class="table-responsive">
        <div class="card-body">
          <a  class="btn btn-success" routerLink="/rh/addoffreemploie" title="ajouter offre emploie">
            <i class="mdi mdi-database-plus"></i>
          </a>
        </div>
        <table class="table table-bordered" *ngIf="offreemploies.length>0">
          <thead>
          <tr>
            <th>TYPE OFFRE</th>
            <th>DATE LIMITE</th>
            <th>DESCRIPTION</th>
            <th>LANGUE</th>
            <th> EXPERIENCE</th>
            <th>EXIGENCE</th>
            <th>DATE CREATION</th>
            <th>ACTION</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let i of offreemploies">
            <td>{{i.titredoffre}}</td>
            <td>{{i.datelimite}}</td>
            <td>{{i.description}}</td>
            <td>{{i.langue}}</td>
            <td>{{i.experience}}</td>
            <td>{{i.exigenceemploie}}</td>
            <td>{{i.datecreation}}</td>
            <td>
              <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editoffreemploie/'+i.id]" title="miseajour"><i class="mdi mdi-pen"></i></a>
              <a class="btn btn-sm btn-danger" (click)="deleteoffreempl(i.id)" title="supprimer"><i class="mdi mdi-delete"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="offreemploies.length==0" >le table est vide</span>
      </div>
    </div>
  </div>

</div>
