<div class="container-fluid px-4">
  <h1 class="mt-4">Liste Contrat</h1>
  <div>
    <form class="form-inline" [formGroup]="searchcontratform" (ngSubmit)="searchcontrat()" >
      <div class="input-group">
        <div class="form-outline">
          <input type="text" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary " style="margin-left:0; height: 32px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div >
    <div class="card mb-4">

     <div class="table-responsive">
       <div class="card-body">
         <a class="btn btn-success" routerLink="/rh/addcontrat" title="Ajouter Contrat" > <i class="mdi mdi-database-plus"></i></a>
       </div>
       <table class="table table-bordered" *ngIf="contras.length>0">
         <thead>
         <tr>
           <th>Nom</th>
           <th>Prénom</th>
           <th>Post</th>
           <th>Matricule</th>
           <th>Type</th>
           <th>Date Début</th>

           <th>Action</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let i of contras">
           <td>{{i.nom}}</td>
           <td>{{i.prenom}}</td>
           <td>{{i.post}}</td>
           <td>{{i.jobid}}</td>
           <td>{{i.type}}</td>
           <td>{{i.datedebut}}</td>


           <td>
             <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editcontrat/'+i.id]"
                title="Mise ajour Contrat" >
               <i class="mdi mdi-pen"></i>
             </a>
             <a class="btn btn-sm btn-danger" (click)="deletecontrat(i.id)"
                title="Supprimer Contrat">
               <i class="mdi mdi-delete"></i>
             </a>


           </td>
         </tr>
         </tbody>
       </table>
       <span *ngIf="contras.length==0"> table vide</span>
     </div>
   </div>
  </div>
</div>
