<div class="container-fluid px-4">
  <h1 class="mt-4">Liste de contrat</h1>

  <div class="card mb-4">
    <div class="card-body">
      cliquer sur ce bouton pour ajouter un contrat
      <a class="btn btn-outline-primary" routerLink="/rh/addcontrat" >Ajouter contrat</a>
    </div>
  </div>

  <hr>
  <div >


<div>

  <form  [formGroup]="cherchcontratform" (ngSubmit)="searchcontratbycode()" >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group ">
          <label>taper le code de conrat:</label>
          <input type="text" id="code"
                 class="form-control"
                 name="code"
                 placeholder="entrer le code de contrat"
                 formControlName="code">
        </div>
      </div>

    </div>
    <div class="form-group mb-5">
      <button class="btn btn-info" type="submit">chercher contrat par code </button>
    </div>
  </form>
  <form  [formGroup]="chercherparjobid" (ngSubmit)="searchcontratbyjobid()" >
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group ">
          <label>taper le jobid employee:</label>
          <input type="text" id="jobid"
                 class="form-control"
                 name="jobid"
                 placeholder="entrer le job de l employee"
                 formControlName="jobid">
        </div>
      </div>

    </div>
    <div class="form-group mb-5">
      <button class="btn btn-info" type="submit">chercher contrat par jobid </button>
    </div>
  </form>
</div>


    <div class="table-responsive">
      <table class="table table-hover" *ngIf="contras.length>0">
        <thead>
        <tr>
          <th>#</th>
          <th>code</th>
          <th>libelle</th>
          <th>date debut</th>
          <th>date fin</th>
          <th>nom employee</th>
          <th>prenom employee</th>
          <th>post</th>
          <th>jobid</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of contras">
          <td>{{i.id}}</td>
          <td>{{i.code}}</td>
          <td>{{i.libelle}}</td>
          <td>{{i.datedebut | date}}</td>
          <td>{{i.datefin  | date}}</td>
          <td>{{i.nom}}</td>
          <td>{{i.prenom}}</td>
          <td>{{i.post}}</td>
          <td>{{i.jobid}}</td>
          <td>
            <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editcontrat/'+i.id]" >modifier</a>
            <a class="btn btn-sm btn-danger" (click)="deletecontrat(i.id)">supprimer</a>
          </td>

        </tr>


        </tbody>
      </table>
      <span *ngIf="contras.length<0"> table vide</span>
    </div>



  </div>

</div>
