<div class="conatiner">
  <div class="container pt-5 pb-5">
    <h1 class="text-center pt-4 pb-4 h4"> Dachborad Information</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-muted">Nombre de Candidats</p>
                <h2>{{totale_candidat}}</h2>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-muted">Nombre D'Employees</p>
                <h2>{{totale_employee}}</h2>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-muted">Total Visa</p>
                <h2>{{totale_visa}}</h2>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="mb-0 text-muted">Total Formation</p>
                <h2>{{totale_formation}}</h2>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
