<div class="container-fluid px-4">
  <div>
    <div class="table-responsive">
      <table  class="table" *ngIf="contrats.length>0">
        <thead >
        <tr class="table-success">
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Post</th>
          <th scope="col">Matricule</th>
          <th scope="col">Code</th>
          <th scope="col">Type</th>
          <th scope="col">Date Debut</th>
          <th scope="col">Date Fin</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of contrats">
          <td>{{i.nom}}</td>
          <td>{{i.prenom}}</td>
          <td>{{i.post}}</td>
          <td>{{i.jobid}}</td>
          <td>{{i.code}}</td>
          <td>{{i.type}}</td>
          <td>{{i.datedebut}}</td>
          <td>{{i.datefin}}</td>
          <td >
            <button class="btn btn-link"  (click)="exportcontrat(i.id)"> Telecharger
              <i class="mdi mdi-download"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="contrats.length==0"> table vide</span>
    </div>
  </div>

</div>
