<div class="container-fluid px-4">
  <div>
    <form class="form-inline" [formGroup]="cherchform"  (ngSubmit)="searchformation()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 33.5px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div  class="card mb-4">
    <div  class="card mb-4">
     <div class="table-responsive">
       <div class="card-body">
         <a class="btn btn-success" routerLink="/rh/addformation" title="ajouter formation" ><i class="mdi mdi-database-plus"></i></a>
       </div>
       <table class="table table-hover" *ngIf="formations.length>0">
         <thead>
         <tr>

           <th scope="col">nom de formation</th>
           <th scope="col">type de formation</th>
           <th scope="col">date debut</th>
           <th scope="col">heure</th>
           <th scope="col">action</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let i of formations">

           <td>{{i.nomdeforamtion}}</td>
           <td>{{i.typedeformation}}</td>
           <td>{{i.datedebut}}</td>
           <td>{{i.heure}}</td>
           <td>
             <a class="btn btn-sm btn-primary" style="margin-right:5px;" [routerLink]="['/rh/editformation/'+i.id]"  title="mise ajour formation"><i class="mdi mdi-pen"></i></a>
             <a class="btn btn-sm btn-danger" (click)="deleteformation(i.id)" title="supprimer formation" ><i class="mdi mdi-delete"></i></a>
           </td>

         </tr>

         </tbody>
       </table>
       <span *ngIf="formations.length==0">table vide</span>
     </div>
   </div>



  </div>

</div>
