<div class="container-fluid px-4">
  <h1 class="mt-4">Liste de les inscrits des formations </h1>
  <hr>
  <div >

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        inscrit offre table
      </div>
      <div class="card-body">
        <table class="table table-bordered" >
          <thead>
          <tr>
            <th>Formation</th>
            <th>date d'inscription</th>
            <th>Evalution</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let f of inscritformations">
            <td>{{f.nomdeforamtion}}</td>
            <td>{{f.dateinscrit}}</td>
            <td>
              <button class="btn btnsm btn-outline-primary" (click)="open(mymodal, f.id)">Votre Evaluation</button>

            </td>

          </tr>
          </tbody>
        </table>

      </div>
    </div>


  </div>


</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Avis</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="saveEvalu()">
      <div class="form-group">
        <label >choisissez votre avis</label>
        <select class="form-control form-control-sm"  name="avis" formControlName="avis">
          <option value="BIEN" selected>BIEN</option>
          <option value="ASSEZBIEN">ASSEZBIEN</option>
          <option value="PASTELLEMENT">PASTELLEMENT</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary"  >Submit</button>
    </form>
  </div>

</ng-template>
