<form class="forms-sample" [formGroup]="contratform" (ngSubmit)="Addcontrat()">
  <div class="alert-success" *ngIf="showMsg">
    {{message}}
  </div>
  <div class="alert alert-danger" *ngIf="has_error">
    {{error_message}}
  </div>

  <div class="form-group">
    <label >Type Contrat</label>
    <input type="text" class="form-control" id="type" placeholder="type" name="type" formControlName="type">
  </div>
  <div class="form-group">
    <label >Date Debut</label>
    <input type="date" class="form-control" id="datedebut" placeholder="date debut" name="datedebut" formControlName="datedebut">
  </div>

  <div class="form-group>">
    <select class="form-control" formControlName="employee_id" >
      <option value="">CHoisir un employee  convenable</option>
      <option value="{{e.id}}" *ngFor="let e of employees ">
        Prénom:{{e.prenom}}
        Nom:{{e.nom}}
        Post:{{e.post}}
        Matricule:{{e.jobid}}</option>
    </select>

  </div>
  <button type="submit" class="btn btn-gradient-primary mr-2">Envoyer</button>
  <button class="btn btn-light" routerLink="/rh/contrat">Annuler</button>
</form>
