<div class="container-fluid px-4">
  <h1 class="mt-4">detaille candidat </h1>
  <div >
    <div>
      <h3>candidat email</h3>
      {{candidat.email}}
      <h3>date de naissance:</h3>
      {{candidat.dateOfBirth}}
      <h3>numéro télephone:</h3>
      {{candidat.phone}}
      <h3>adresse:</h3>
      {{candidat.adresse}}
      <h3>ville:</h3>
      {{candidat.ville}}
      <h3>nationalité:</h3>
      {{candidat.nationality}}
      <h3>niveau etude</h3>
      {{candidat.niveauEtud}}
      <h3>niveau expéreince:</h3>
      {{candidat.niveauExp}}
      <h3>université:</h3>
      {{candidat.university}}


    </div>
    <div>
      <button class="btn btn-link" routerLink="/rh/candidatinfo">retour au candidat info</button>

    </div>

  </div>

</div>
