<div class="col-md-12 grid-margin">
  <div>
    <h3 style="color:red;">detaille des inscrit de formations: </h3>
  </div>
  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1" >date d inscrit</p>
          <p class="text-light bg-dark pl-1" >nom formation</p>
          <p class="text-light bg-dark pl-1" >type formation</p>
          <p class="text-light bg-dark pl-1" >date debut</p>
          <p class="text-light bg-dark pl-1" >heure</p>
        </div>
        <div class="col-md-6">
          <p style="color: blue"> {{inscritformation.dateinscrit}}</p>
          <p style="color: blue">{{inscritformation.nomdeforamtion}}</p>
          <p style="color: blue">{{inscritformation.typedeformation}}</p>
          <p style="color: blue">{{inscritformation.datedebut}}</p>
          <p style="color: blue">{{inscritformation.heure}}</p>
        </div>
        <div>
          <button class="btn btn-sm btn-danger"  routerLink="/rh/inscritformation"> retour
            <i class="mdi mdi-exit-to-app"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
