<div class="col-md-12 grid-margin">
  <div>
    <h3 >detaille des inscrit de formations: </h3>
  </div>
  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1" >Date Inscrit</p>
          <p class="text-light bg-dark pl-1" >Formation</p>
          <p class="text-light bg-dark pl-1" >Type</p>
          <p class="text-light bg-dark pl-1" >Date Debut</p>
          <p class="text-light bg-dark pl-1" >Heure</p>
        </div>
        <div class="col-md-6">
          <p style="color: blue"> {{inscritformation.dateinscrit}}</p>
          <p style="color: blue">{{inscritformation.nomdeforamtion}}</p>
          <p style="color: blue">{{inscritformation.typedeformation}}</p>
          <p style="color: blue">{{inscritformation.datedebut}}</p>
          <p style="color: blue">{{inscritformation.heure}}</p>
        </div>
      </div>
      <div>
        <button class="btn btn-info"  routerLink="/rh/inscritformation"> Retour
          <i class="mdi mdi-exit-to-app"></i>
        </button>
      </div>
    </div>
  </div>

</div>
