<div class="container-fluid px-4">
  <div>
    <form class="form-inline" [formGroup]="cherchform"  (ngSubmit)="searchformation()">
      <div class="input-group">
        <div class="form-outline">
          <input type="search" id="key" class="form-control"  name="key"
                 placeholder="search"
                 formControlName="key" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary" style="margin-left:0; height: 33.5px; padding: 0 20px;
           margin-top: 5px;" >
            <i class="mdi mdi-account-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="card mb-4">
    <div class="table-responsive">
      <table class="table" *ngIf="formations.length>0">
        <thead >
        <tr class="table-success">
          <th scope="col">TITRE FORMATION</th>
          <th scope="col">TYPE FORMATION</th>
          <th scope="col">DATE DEBUT</th>
          <th scope="col">HEURE</th>
          <th scope="col">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of formations">
          <td>{{i.nomdeforamtion}}</td>
          <td>{{i.typedeformation}}</td>
          <td>{{i.datedebut}}</td>
          <td>{{i.heure}}</td>
          <td>
            <button class="btn btn-success" style="margin-right:5px;" (click)="applayformation(i.id)">inscrit</button>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="formations.length==0">table vide</span>
    </div>



  </div>

</div>
