<div class="col-md-12 grid-margin">

  <div class="card">

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="text-light bg-dark pl-1">Date Creation</p>
          <p class="text-light bg-dark pl-1">Date Limite </p>
          <p class="text-light bg-dark pl-1">Langue</p>
          <p class="text-light bg-dark pl-1">Experience</p>
          <p class="text-light bg-dark pl-1">Exigence Emploie</p>
        </div>
        <div class="col-md-6">
          <p  style="color: #6a008a">{{inscritoffre.datecreation}}</p>
          <p  style="color: #6a008a">{{inscritoffre.datelimite}}</p>
          <p style="color: #6a008a">{{inscritoffre.langue}}</p>
          <p  style="color: #6a008a">{{inscritoffre.experience}}</p>
          <p  style="color: #6a008a">{{inscritoffre.exigenceemploie}}</p>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-info" routerLink="/espacecondidat/inscritoffre">
        <i class="mdi mdi-exit-to-app"></i>
        Retour
      </button>
    </div>
  </div>

</div>
